nav{
    background-color: rgb(35, 34, 34);
    width: 100vw;
    padding: 5px;
    color:white;
    height: 60px;
    border: 2px solid black;
}

#nav_login {
    background-color: green !important;
    color: white;
    border: 2px solid rgb(46, 171, 46);
  }

#nav_register{
    background-color: blue !important;
    color: white;
    margin-left: 10px;
    border: 2px solid rgb(160, 160, 187);
    margin-right: 20px;
}

#nav_logout{
    margin-left: 10px;
    margin-right: 20px;
    background-color: red !important;
    color: white;
    border: 2px solid rgb(124, 32, 32);
}

h3 {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }